.btn {
  /*shape and space*/
  border-radius: 40px;
  background-color: #560EDD;
  color: #EEEEF7;
  padding: 10px 16px;

  /*text-style*/
  font-size: 16px;
  text-decoration: none;
  font-weight: regular;

  /*other styles*/

  display: inline-block;
}

.btn-light {
  /*shape and space*/
  border-radius: 40px;
  background-color: $purple-100;
  color: $deep-purple;
  padding: 10px 16px;

  /*text-style*/
  font-size: 16px;
  text-decoration: none;
  font-weight: regular;

  /*other styles*/

  display: inline-block;
}
