.btn-purple {
  /*shape and space*/
  border-radius: 40px;
  background-color: $deep-purple;
  color: #D3D4FB;
  padding: 10px 20px;
  margin-bottom: 8px;


  /*text-style*/
  font-size: 16px;
  text-decoration: none;
  font-weight: regular;

  /*other styles*/

  display: inline-block;

  &:active {
    background-color: #D3D4FB;
    color: $deep-purple;
    border-color: $purple-300;
  }
}
