// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Colors Pyper

// Purple Colorcodes

$really-dark-purple: #1B014C;
$deep-purple: #560EDD;
$purple-400: #9663F6;
$purple-300: #CEB6FA;
$purple-200: #EDE4FE;
$purple-100: #EEEEF7;

// Greyscale

$background-dark-grey: #17171A;
$grey-400: #1D1919;
$grey-300: #56565D;
$grey-200: #949498;
$grey-100: #DBDBDC;

// Base

$light-grey-text: #F6F8FA;
$grey-text: #D8D8D8;
$dark-grey-text: #77838F;
