// Import page-specific CSS files here.
@import "home";

.container-home {
  padding-top: 70px; /* Directly add 70px for topbar height */
  padding-top: calc(70px + env(safe-area-inset-top)); /* In case of notches on mobile */
  width: 100%;
  position: relative;
  background-color: #17171A;
  text-align: left;
  color: #f6f8fa;
}

.container-index {
  align-items: center;
  margin-bottom: 60px;
  padding: 0;
}

.container-index .row {
  margin: 0;
  gap: 20px;
}

.star-rating {
  color: #9663F6;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.1rem;
}
