// Import page-specific CSS files here.
@import "home";

.container-home {
  width: 100%;
  position: relative;
  background-color: #17171a;
  // overflow: hidden;
  text-align: left;
  color: #f6f8fa;
}

.container-index {
  align-items: center;
  margin-bottom: 60px;
}

.star-rating {
  color: #9663F6;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.1rem;
}
