<nav class="navbar navbar-dark bg-dark fixed-bottom">
  <div class="container-fluid d-flex justify-content-around">
    <!-- Profile -->
    <a href="<%= profile_path %>" class="d-flex flex-column align-items-center text-decoration-none text-white">
      <div class="icon-circle">
        <i class="bi bi-person-circle"></i>
      </div>
      <span class="mt-1">Profile</span>
    </a>

    <!-- Explore -->
    <a href="<%= spots_path %>" class="d-flex flex-column align-items-center text-decoration-none text-white">
      <div class="icon-circle">
        <i class="bi bi-compass"></i>
      </div>
      <span class="mt-1">Explore</span>
    </a>

    <!-- Friends -->
    <a href="<%= friends_path %>" class="d-flex flex-column align-items-center text-decoration-none text-white">
      <div class="icon-circle">
        <i class="bi bi-people"></i>
      </div>
      <span class="mt-1">Friends</span>
    </a>
  </div>
</nav>
