<div class="navbar-lewagon">
      <ul>
        <% if user_signed_in? %>
          <li class="me-3">
            <%= link_to "Profile", profile_path, class: "nav-link" %>
          </li>
          <li class="me-3">
            <%= link_to "Explore", "#", class: "nav-link" %>
          </li>
          <li class="me-3">
            <%= link_to "Friends", "#", class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
