<header class="py-4 d-flex justify-content-center fixed-top" style="background-color: #17171A; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);">
  <div></div>
  <div><%= image_tag("https://res.cloudinary.com/dmilkgxzg/image/upload/v1733311906/logo_30_pcb47t.png", style: "height: 40px;") %></div>
  <div></div>
</header>
