@media (min-width: 768px) {
  .card-home {
    max-width: 700px;
  }
}

.card-home p {
  margin-bottom: 0px;
  color: $grey-200;
  font-size: 14px;
  font-weight: light;
}


.card-home {
  overflow: hidden;
  background: #2B2B36;
  box-shadow: 0 0 15px rgba(3, 0, 5, 0.091);
  border-radius: 15px;
  margin-bottom: 15px;
  margin-top: 15px;

}


.card-home img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-home .card-home-infos {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  flex-direction: column;
  position: relative;
}


.card-home-title {
  font-size: 18px;
  font-weight: semi-bold;
  margin-bottom: 4px;
  margin-right: 4px;
  color: #EEEEEE;
  width: 200px;
}

.card-home .btn-purple {
  margin-left: 18px;
  margin-bottom: 15px;
}


.card-home .card-home-rating {
  position: absolute;
  right: 16px;
  top: 20px;
}
