// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "star";
@import "recommendation";
@import "custom";

.index-title {
  color: $grey-200;
  font-size: 14px;
  font-weight: light;
}

.impressum {
  color: #37373b;
  margin-top: 60px;
  margin-bottom: 40px;
  align-items: center;
}
