  /* Map container should fill the entire screen */
  .map-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  /* Map (Mapbox or any map) should fill the container */
  .map {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  /* Button group container fixed position*/
  .btn-group-container {
    position: fixed;
    bottom: 135px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    gap: 15px;
  }


  .btn-group.custom-btn-group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
