nav.navbar {
  background-color: #17171A !important;
  height: 120px;
  border-top: 1.5px solid #272729;
  overflow: hidden;
  bottom: 0;
  z-index: 1000;
}

nav.navbar a {
  color: #EEEEF7 !important;
  margin-bottom: 15px;
}

.icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #560EDD; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px; /* Space between circle and text */
  margin-top: 15px;
}

.icon-circle i {
  color: #D3D4FB; /* Icon color */
  font-size: 1.4rem; /* Icon size */
}

.icon-circle:hover {
  background-color: #d1b3ff; /* Slightly lighter purple on hover */
  transition: background-color 0.3s ease;
}
