.tag-button {
  background-color: #560EDD;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 5px;
  direction:ltr;
}

.tag-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 10px;
}


.tag {
  background-color: #EDE4FE;
  color: #560EDD;
  border: none;
  border-radius: 4px;
  padding: 6px 8px;
  font-size: 14px;
  white-space: nowrap; 
}
